@charset "utf-8";
/* CSS Document */
/*MOBILE FIRST*/
* {
	margin: 0px;
	padding: 0px;
}
a {text-decoration: none;}
li {list-style-type: none;}
body {background: url(images/fundo_01.jpg);}
section, footer {clear: both;}
div#main {
	box-sizing: border-box;
	width: 320px; /*box-model-w: 320px;*/
	/* [disabled]padding: 10px; */
	margin: 0px auto;
	background-color: #161616;
	color: #FFF;
	overflow: hidden;
	position: relative;/*Descendente header é fixed*/
	z-index: 1;
}
header {
	width: 100%; 
	height: 56px; 
	background: url(images/bg_header.jpg) repeat-x;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: fixed;
	z-index:2;
}
header h1 {
	width: 0px; 
	height: 0px; 
	overflow: hidden;
}
header img {
	width: 100%;
	max-width: 225px;
	height: auto;
	display: block;
	float: left;
	margin-left: 5px
}
header nav#menu{
	width: 0px;
	height: 0px; 
	overflow: hidden;
	float: right;
}
header div#ativador_menu {
	color: #FFF;
	float: right;
	width: 56px;
	height: 56px;
	background-color: #F30;
	line-height: 56px;/*Centraliza vertical*/
	text-align: center;
}
header div#ativador_menu a i{/*Não pode mudar para block, se não bagunça o font-awesome*/
	transform: scale(2,2);
	background-color: #C9C;
	float: none;
	clear: both;
}
article figure img {
	width: 100%;
	height: auto;
	max-width: 457px;
}
@media screen and (min-width: 321px) {
	body {background-color: #CCF;}
	div#main {
		width: 100%;/*contradiz width acima*/
		max-width: 1000px;
	}
	header {
		max-width: 1000px;/*contradiz max-width acima*/
	}	
	header img {
		max-width: 270px;/*contradiz width acima*/
		height: auto;
	}

}
@media screen and (min-width: 851px) {

	header nav#menu {/*Aparece o menu horizontal*/
		width: auto;/*contradiz width acima*/
		height: auto;/*contradiz height acima*/
		overflow: visible;/*contradiz overflow acima*/
	}
	header nav#menu ul li {
		float: left;
	}
	header nav#menu ul li a {
		display: block;
		width: 115px;
		text-align: center;
		height: 56px;
		line-height: 56px;
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
		font-size: .8em;
		text-transform: uppercase;
		color: #FFF;
		border-left: solid 1px #FFF;
	}	
	header div#ativador_menu {/*Some com o botão ativador do menu.*/
		width: 0px; 
		height: 0px; 
		overflow: hidden;
	}
	article {
		width: 460px;/*box-model-width: 500px;*/
		padding: 20px;
		float: left;
	}
	aside {
		float: right;
	}
	aside nav#menu-sociais {
	border: solid 1px #1472b3;
	width: 84px;/*box-model-width: 86px*/
	height: 240px;/*box-model-height: 242px*/
	/* [disabled]opacity: .41; */
	}
	aside nav#menu-sociais ul {
		background-color: #21405b;
		height: 240px;/*Para que a cor de fundo chegue até o final*/
	}
	aside nav#menu-sociais ul li {
		text-align: center;
		height: 60px; /* 1/4 de 240px*/
		overflow: hidden;
		opacity: 1;
	}
	aside nav#menu-sociais ul li a {
		display: block;
		overflow: hidden;
		background: no-repeat;
		margin: 0px auto;
	}
	aside nav#menu-sociais ul li a[title="Curtir no Facebook"]{
		background-image: url(images/like.png);
		width: 55px;
		height: 20px;
		position: relative;/*centraliza verticalmente.*/
		top: 20px;
	}
	aside nav#menu-sociais ul li a[title="Retuitar"]{
		background-image: url(images/tweet.png);
		width: 55px;
		height: 20px;
	}
	aside nav#menu-sociais ul li a[title="Próxima notícia"]{
		background: url(images/seta_peq_dir.png) center center no-repeat;
		background-color: #1979bc;
		width: 37px;
		height: 37px;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		border-radius: 50%;
	}	
	aside nav#menu-sociais ul li a[title="Notícia anterior"]{
		background: url(images/seta_peq_esq.png) center center no-repeat;
		background-color: #1979bc;
		width: 37px;
		height: 37px;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		border-radius: 50%;
	}	
	aside nav#menu-sociais ul li a span.auxiliar {/*Técnica image replacement: some com o texto.*/
		display: block; /*Span por default é inline.*/
		width: 0px;
		height: 0px;
		overflow: hidden;
	}
	footer > p{
		color: red;
	}
}